@import "boot_navigation.scss";
@import "boot_dropdown.scss";

body {
  color: #222;
  font-family: "Audiowide", cursive;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  padding-top: 95px;
}
