.logo img {
  max-width: 60%;
  padding-left: 8px;
  padding-right: 8px;
}
.nav_list a {
  text-decoration: none;
  color: #222;
}
.nav_list li {
  display: inline-block;
}
.nav_list a {
  list-style: none;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}
.nav_list a:hover {
  color: #83D5F7;
}
.home_active  {
  color: #2d2b70;
}
