.blog_pages {
  display: flex;
  padding-top: 60px;
  padding-bottom: 120px;
  justify-content: center;
}
.pages {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.page_link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #777;
  border: none;
  text-decoration: none;
}
.blog_pages .page_link:hover {
  color: #fff;
  background-color: #2d2b70;
}
.blog_pages i:hover {
  color: #fff;
  background-color: #2d2b70;
}
