* {
  box-sizing: border-box;
}
body {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}
.container_header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
ul a {
  text-decoration: none;
  color: #222;
}
li {
  display: inline-block;
}
.nav_list a {
  list-style: none;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}
.header_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav_list a:hover {
  color: #8490ff;
}
.home_active {
  color: #8490ff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown_content a {
  display: block;
}

.dropdown:hover .dropdown_content {
  display: block;
}
.intro {
  background: #f9f9ff;
}
.container_intro {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 92px;
  margin-right: auto;
  margin-left: auto;
}
.intro_row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.col_row_left h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: #222;
}
.col_row_left h1 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px 0;
  font-size: 60px;
  color: #222;
}
.intro_btn {
  text-transform: uppercase;
  font-size: 14px;
  background: #8490ff;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}
.col_row_left .intro_btn:hover {
  box-shadow: 0 20px 20px 0 rgb(132 144 255 / 30%);
}
.col_row_right, .col_row_left {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col_row_right {
    display: flex;
    align-self: flex-end;
}

