@media screen and (min-width: 1200px) {
  .container_header,
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1020px) {
  .logo {
    display: none;
  }
  .header_row {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  .container_header,
  .container,
  .intro_row,
  .services_row,
  .services_col_row,
  .facts_row,
  .banner_area_row,
  .top_category_row,
  .post_content_row,
  .footer_row {
    max-width: 960px;
  }

  .header_row {
    flex-wrap: nowrap;
  }
  .col_row_left h1 {
    font-size: 30px;
  }
  .col_row_left_about h1 {
    font-size: 30px;
  }
  .about_row,
  .intro_row {
    flex-wrap: nowrap;
  }
  .services_col {
    max-width: 50%;
  }
  .facts_row {
    justify-content: flex-end;
  }
  .facts_row_col {
    width: 50%;
  }
  .top_category_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top_category_col {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .top_category_details h4 {
    font-size: 30px;
  }
  .top_category_details p {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container,
  .container_header {
    max-width: 720px;
  }
  .intro_row {
    max-width: 720px;
    flex-direction: column;
  }
  .about_row {
    max-width: 720px;
    flex-direction: column-reverse;
  }
  .col_row_right,
  .col_row_left,
  .col_row_left_about {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .services_title h1 {
    font-size: 26px;
  }
  .services_col_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services_col {
    max-width: 100%;
  }
  .facts_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .container_header,
  .container,
  .intro_row,
  .services_row,
  .services_col_row,
  .facts_row,
  .banner_area_row,
  .top_category_row,
  .post_content_row,
  .footer_row {
    max-width: 540px;
  }
  .dropdown_content {
    right: initial;
    left: 0%;
  }
  .col_row_left_about h1 {
    font-size: 20px;
  }
}
