* {
  box-sizing: border-box;
}
body {
  color: #777;
  font-family: "Audiowide", cursive;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}
.container_header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
.logo img {
  max-width: 60%;
  padding-left: 8px;
  padding-right: 8px;
}
ul a {
  text-decoration: none;
  color: #222;
}
li {
  display: inline-block;
}
.nav_list a {
  list-style: none;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}
.header_row,
.intro_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav_list a:hover {
  color: #2d2b70;
}
.home_active {
  color: #2d2b70;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  right: 0%;
  top: 100%;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px #2d2b70;
  z-index: 1;
}
.dropdown_content li {
  text-align: left;
}
.dropdown_content a {
  display: block;
}

.dropdown:hover .dropdown_content {
  display: block;
}
.intro {
  background: #f9f9ff;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.col_row_left h6,
h5 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: #222;
}
.col_row_left h1 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px 0;
  font-size: 60px;
  color: #222;
}
.intro_btn,
.about_btn {
  text-transform: uppercase;
  font-size: 14px;
  background: linear-gradient(50deg, #f3716a, #2d2b70);
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
}
.col_row_left .intro_btn:hover {
  box-shadow: 0 20px 20px 0 #2d2b70;
  transition: box-shadow 800ms;
}
.col_row_left_about .intro_btn:hover {
  box-shadow: 0 20px 20px 0 #f3716a;
  transition: box-shadow 800ms;
}
.col_row_right,
.col_row_left,
.col_row_left_about,
.services_col {
  position: relative;
  width: 50%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col_row_right {
  display: flex;
  align-self: flex-end;
}
.image_intro,
.image_about {
  max-width: 100%;
}
.section_about {
  padding-top: 120px;
}
.about_row {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.col_row_left_about h1 {
  text-transform: uppercase;
  font-weight: 900;
  padding: 20px 0;
  font-size: 40px;
  color: #222;
}
.col_row_left_about h6,
h5 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  color: #222;
}
.services {
  padding-top: 120px;
}
.services_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services_text {
  max-width: 58%;
}
.services_title {
  text-align: center;
}
.services_title h1 {
  font-size: 36px;
  font-weight: 900;
  color: #222;
  padding: 20px 0;
}
.services_col_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services_col {
  max-width: 33.3%;
}
.services_card {
  text-align: center;
  margin-top: 60px;
}
.services_card h4 {
  font-size: 18px;
  font-weight: 700;
}
.services_icon {
  font-size: 40px;
  color: #222;
}
.services_card a {
  text-decoration: none;
  color: #222;
}
.services_card i:hover {
  color: #2d2b70;
}
.services_card a:hover {
  color: #2d2b70;
}