@media screen and (min-width: 1200px) {
  .container_header {
    max-width: 1140px;
  }
  .container_intro {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1020px) {
  .logo {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container_header {
    max-width: 960px;
  }
  .header_row {
    flex-wrap: nowrap;
  }
  .col_row_left h1 {
    font-size: 30px;
  }
  .container_intro {
    max-width: 960px;
  }
  .intro_row {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container_intro {
    max-width: 720px;
  }
  .intro_row {
    max-width: 720px;
    flex-direction: column;
  }
  .container_header {
    max-width: 720px;
  }

  .container_header {
    max-width: 720px;
  }
  .container_intro {
    max-width: 540px;
  }
  .intro_row {
    max-width: 540px;
  }
}
